@import url('https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap');

@import "tailwindcss";
/* @import 'tailwind-scrollbar-hide/v4'; */
@plugin "daisyui";
@plugin 'tailwind-scrollbar';


@theme {
  --font-lekton:"Lekton", monospace;
}





/* This is what the plugin does */




.vertical-scroll::-webkit-scrollbar {
  width:5px ;
  height: 1em;
  margin-top: 20px;

}

::-webkit-scrollbar-track{
  margin-block: 0.5em;
}
.vertical-scroll::-webkit-scrollbar-thumb {
  background: black;
  /* border: 0.25em solid hsl(120 75% 50% / 1); */
  border-radius: 90vw;
}

.vertical-scroll::-webkit-scrollbar-thumb:hover {
  background: hsl(120 100% 10% / 1);
}



